<div class="row" style="height:10px;">
</div>
<div class="row">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h2><i class="fa-font-awesome">Akash Anna Wadhankar</i></h2></mat-card-title>
      <mat-card-subtitle>IT Analyst, TCS</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/IMG_1123.JPG" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p> <i class="fas fa-font-awesome">Today digital is disrupting technology world. When we are moving from business driving the software to software driving the business.
          What is driving these softwares is humongous data we generate. All surveys and research unequivocally indicates #theNextBigThing, #theNextDriver 
          will be data.
          <br>
          <br>
          The people who are working in this disrupting industry from nearly 3 decades need to get their boats ready. Because wave is kind enough
          to take you along and strong enough to destroy. For exploring more on this please visit my blog.</i>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="accent" href="https://perspectivesa.wordpress.com/">Visit my @Blog</a>     
    </mat-card-actions>
  </mat-card>
</div>