<div class="row" style="height:10px;">

</div>
<div>
    <mat-expansion-panel>
       <mat-expansion-panel-header style="background-color:#2196f3;color:white;" color="primary">
         <mat-panel-title>
            <div style="color:white;">  
             #RolesAndResponsibilities
             </div>
         </mat-panel-title>       
       </mat-expansion-panel-header>
 
       <div class="row" style="height:10px;">
      </div>
     
      <p>
        this is resp 1
        <br>
        this is resp 2
      </p>
     
     </mat-expansion-panel>
 </div>

