<div class="row" style="height:10px;">
</div>
<div>
   <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color:#2196f3;color:white;" color="primary">
        <mat-panel-title>
          <div style="color:white;">             
            #Technologies I worked 
          </div>
        </mat-panel-title>       
      </mat-expansion-panel-header>

      <div class="row" style="height:10px;">
        </div>
    
      <mat-grid-list cols="2" rowHeight="4:3">
          <mat-grid-tile>
              <mat-card>                 
                   <mat-card-content>
                      <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/angular2.jpg" alt="Angular 2.x">                
                  </mat-card-content>                  
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/angularmaterial.jpg" alt="Angular Material">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/MVC5.png" alt="ASP.NET MVC5">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                 
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/netcoremvc.png" alt=".NET core MVC">                
                                
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/html5.png" alt="HTML 5">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/csharplogo.png" alt="c #">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/scala.jpg" alt="Scala">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/Kafka.png" alt="kafka">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/Spark.png" alt="Spark">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/hadoop.png" alt="hadoop">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/hdfs.png" alt="HDFS">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/wcf.png" alt="WCF">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/webapi.jpg" alt="WEB API">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/cassandra.png" alt="Cassandra">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/sql-server-2016.png" alt="SQl server 2016">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/sqoop.jpg" alt="SQOOP">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/tableau.png" alt="Tableau">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/visualstudio.jpg" alt="Visual Studio">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card>                 
                  <mat-card-content>
                     <img mat-card-image src="https://raw.githubusercontent.com/wadhankarakash/github.io/master/assets/visualstudiocode.png" alt="Visual Studio code">                
                 </mat-card-content>                  
               </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <a mat-raised-button color="accent" href="https://github.com/wadhankarakash/technologyrevision" style="margin-top:10px;">My Work @Git</a>
        <br>
    </mat-expansion-panel>
</div>



